<div>
  <button type="button" [disabled]="page==1" (click)='first()'>First</button>
  <button type="button" [disabled]="page==1" (click)='previous()'>Previous</button>
  <button type="button" [disabled]="page==remateNumber/count" (click)='next()'>Next</button>
  <button type="button" [disabled]="page==remateNumber/count" (click)='last()'>Last</button>
</div>
<br>
<br>
<div>
  <div class="" *ngFor='let remate of response'>
    <a  [routerLink]="['./remate/'+remate._id]">
      <div >
        <div>
          <span>{{remate.dateCreated}}</span>
        </div>
        <div>
          <b>{{remate.fuente}}</b>
        </div>
        <div>
          <span>{{remate.raw.replace('/([\\t]+(?=[\\t])|^\s+|\s+$)/g','').slice(0,50)}}</span>
        </div>
      </div>
    </a>
    <br>
  </div>
</div>
