<div class="auth">

  <form name="login" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate method="POST">
    <div>
      <label for="username">Username </label>
      <input type="text" name="username" [(ngModel)]="creds.username" #username="ngModel" required>
    </div>
    <div>
      <label for="password">Passwod </label>
      <input type="password" name="password" [(ngModel)]="creds.password" #password="ngModel" required>
    </div>
    <div>
      <button>Login</button>
    </div>
  </form>

</div>
